PORT=8000
MONGODB_URI=mongodb://<username>:<password>@mongodb:27017
MONGODB_DB=technical_test
EXTERNAL_API_BASE_URL=https://yourapi.com/Api
MONGO_INITDB_ROOT_USERNAME=<mongo_root_username>
MONGO_INITDB_ROOT_PASSWORD=<mongo_root_password>
